body {
    background-color: black;
}
  
.reloj {
position: absolute;
left: calc(50% - 400px);
top: calc(50% - 400px);
width: 200px;
height: 200px;
}

h1 {
    color: black;
    font-size: 100px;
    text-align: center;
    margin-top: 300px;
}
