body {
    background-color: black;
}
  
.reloj {
position: absolute;
left: calc(50% - 1000px);
top: calc(50% - 450px);
width: 200px;
height: 200px;
}

h1 {
    color: black;
    font-size: 700px;
    text-align: center;
}

.hora {
    color: black;
    font-size: 25px;
}
